# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
build/
*.lock

# Android
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
android/key.properties
*.jks
*.keystore

# IDE
.idea/
.vscode/
*.iml

# macOS
.DS_Store

# Firebase (uncomment if you don't want google-services.json in git)
# android/app/google-services.json
